# Binários compilados do Go
bin/
dist/
*.exe
*.exe~
*.dll
*.so
*.dylib

# Workspace do Go (ignorado para permitir ambientes locais customizados)
go.work
go.work.sum

# Gravações de vídeo e mídia pesada (essencial para não inflar o Git)
**/recordings/
*.mp4

# Configurações de IDEs (VS Code e JetBrains)
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Arquivos do Sistema Operacional
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Logs e arquivos temporários
*.log
tmp/

# Chaves privadas e certificados
certs/*.key
certs/*.csr
certs/*.srl
certs/*.crt

# Variáveis de ambiente e configs locais
*.env
.env
firmware/**/private.ini

# Cabeçalhos gerados dinamicamente e chaves locais
firmware/include/secrets.h

# Diretórios de compilação do PlatformIO
firmware/**/.pio/
firmware/**/.pioenvs/
firmware/**/.piolibdeps/
firmware/**/.clang_complete
firmware/**/.gcc-flags.json
.fake

# Regras herdadas do firmware/.gitignore
firmware/**/.pio
firmware/**/.vscode/.browse.c_cpp.db*
firmware/**/.vscode/c_cpp_properties.json
firmware/**/.vscode/launch.json
firmware/**/.vscode/ipch